#sf7f82b633e4e8d91e0ac4e12111e784d4c98e811ca5f0889b .quickFormHorizontal [name=SIGNUP_SUBMIT_BUTTON] {
            white-space: normal !important;
          }
        
          #sf7f82b633e4e8d91e0ac4e12111e784d4c98e811ca5f0889b #customForm * {
            -webkit-box-sizing: border-box !important;
            -moz-box-sizing: border-box !important;
            box-sizing: border-box !important;
            word-break: break-word;
            overflow-wrap: break-word;
          }
        
          /*** RESPONSIVE START */
          @media only screen and (max-width: 200px) {
            #sf7f82b633e4e8d91e0ac4e12111e784d4c98e811ca5f0889b #SIGNUP_BODY {
              max-idth: 200px !important;
              margin: 0px auto !important;
            }
        
            #sf7f82b633e4e8d91e0ac4e12111e784d4c98e811ca5f0889b #SIGNUP_PAGE {
              padding: 0px !important
            }
          }
        
          /*Major Mobiles*/
          @media screen and (min-width: 320px) and (max-width: 580px) and (orientation : portrait) {
            #sf7f82b633e4e8d91e0ac4e12111e784d4c98e811ca5f0889b [name='SIGNUP_BODY'] {
              max-width: 100% !important;
              margin: 0px auto !important;
            }
          }
        
          /* iPads*/
          @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
            #sf7f82b633e4e8d91e0ac4e12111e784d4c98e811ca5f0889b [name='SIGNUP_BODY'] {
              max-width: 760px !important;
              margin: 0px auto !important;
            }
          }
        
          @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
            #sf7f82b633e4e8d91e0ac4e12111e784d4c98e811ca5f0889b [name='SIGNUP_BODY'] {
              width: 1016px !important;
              max-width: 1016px !important;
              margin: 0px auto !important;
            }
          }
        
          @media screen and (min-width: 475px) and (max-width: 980px) and (orientation : landscape) {
            #sf7f82b633e4e8d91e0ac4e12111e784d4c98e811ca5f0889b #SIGNUP_PAGE {
              max-width: 100% !important;
              padding: 0px !important;
            }
          }
        
          /*** RESPONSIVE END */
          .quick_form_9_css form {
            padding-top: 10px
          }