<section id="schedule" class="section-with-bg">
      <div class="container">
        <div class="section-header">
          <h2>Event Schedule</h2>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">June 25</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">June 26</a>
          </li>
        </ul>

        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

            <div class="row schedule-item">
              <div class="col-2">09:00 AM</div>
              <div class="col-10">
                <h4>Intros / setup</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>09:30 AM</time></div>
              <div class="col-10">
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/carin-meier.jpg">
                </div>
                <h4>Q & A <span>[Keynote] Parens for Python</span></h4>
                <p><a href="carin-meier.html">Carin Meier</a></p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>10:00 AM</time></div>
              <div class="col-10">

                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/rafal-dittwald.jpg">
                </div>
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/james-cash.jpg">
                </div>
                <h4>Functional Programming in Clojure</h4>
                <p><a href="#">Rafal Dittwald</a> & <a href="james-cash.html">James Cash</a></p>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2">12:00 PM</div>
              <div class="col-10">
                <h4>Break</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>12:30 PM</time></div>
              <div class="col-10">
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/lukasz-korecki.jpg">
                </div>
                <h4>Q & A <span>Duckula: Type Safe Backend Services with Clojure, HTTP & Avro</span></h4>
                <p><a href="lukasz-korecki.html">Łukasz Korecki</a></p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>01:00 PM</time></div>
              <div class="col-10">

                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/rafal-dittwald.jpg">
                </div>
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/james-cash.jpg">
                </div>
                <h4>Data Driven Programming in Clojure</h4>
                <p><a href="#">Rafal Dittwald</a> & <a href="james-cash.html">James Cash</a></p>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>03:00 PM</time></div>
              <div class="col-10">
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/wilker-lucio.jpg">
                </div>
                <h4>Q & A <span>Evolving Code Through Accretion</span></h4>
                <p><a href="wilker-lucio.html">Wilker Lucio</a></p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>03:30 PM</time></div>
              <div class="col-10">

                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/mark-bastian.jpg">
                </div>
                <h4>Building Marvelous and Heroic Systems from the Ground Up</h4>
                <p><a href="#">Mark Bastian</a></p>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2">06:00 PM</div>
              <div class="col-10">
                <h4>Wrap-up</h4>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show" id="day-2">

            <div class="row schedule-item">
              <div class="col-2">09:00 AM</div>
              <div class="col-10">
                <h4>Intros / setup</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>09:30 AM</time></div>
              <div class="col-10">

                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/kapil-reddy.jpg">
                </div>
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/rhishikesh-joshi.jpg">
                </div>
                <h4>Concurrency with Clojure</h4>
                <p><a href="kapil-reddy.html">Kapil Reddy<a> & <a href="rhishikesh-joshi.html">Rhishikesh Joshi</a></p>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2">11:30 AM</div>
              <div class="col-10">
                <h4>Break</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>12:30 PM</time></div>
              <div class="col-10">
                <h4>Concurrency with Clojure <span>cont'd</span></h4>
                <p><a href="kapil-reddy.html">Kapil Reddy<a> & <a href="rhishikesh-joshi.html">Rhishikesh Joshi</a></p>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2">02:00 PM</div>
              <div class="col-10">
                <h4>Break</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>02:30 PM</time></div>
              <div class="col-10">
                <h4>Concurrency with Clojure <span>cont'd</span></h4>
                <p><a href="kapil-reddy.html">Kapil Reddy<a> & <a href="rhishikesh-joshi.html">Rhishikesh Joshi</a></p>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2">03:30 PM</div>
              <div class="col-10">
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/huahai-yang.jpg">
                </div>
                <h4>Q & A <span>Data Diffing Based Software Architecture Patterns</span></h4>
                <p><a href="huahai-yang.html">Huahai Yang</a></p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>04:00 PM</time></div>
              <div class="col-10">
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/alexander-fertman.jpg">
                </div>
                <h4>Q & A <span>[Lightning] Gluing Clojure Microservices</span></h4>
                <p><a href="alexander-fertman.html">Alexander Fertman</a></p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>04:30 PM</time></div>
              <div class="col-10">
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/cam-saul.jpg">
                </div>
                <h4>Q & A <span>More Powerful Multimethods</span></h4>
                <p><a href="cam-saul.html">Cam Saul</a></p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2"><time>05:00 PM</time></div>
              <div class="col-10">
                <div class="speaker d-none d-sm-block">
                  <img src="img/speakers/wesley-matson.jpg">
                </div>
                <h4>The REPL as a General Purpose Tool</h4>
                <p><a href="#">Wesley Matson</a></p>

              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-2">06:00 PM</div>
              <div class="col-10">
                <h4>Wrap-up & Social</h4>
              </div>
            </div>
          <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section>
