<div class="row">
  <div class="col-md-8 offset-md-2 col-12">
    <div class="vid-container">
      <iframe id="vid_frame" width="800" height="450"
        src="https://www.youtube.com/embed/videoseries?list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS"
        allowfullscreen></iframe>
    </div>
    <div class="vid-list-container">
      <div class="vid-list">
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/3Stja6YUB94?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/3Stja6YUB94/0.jpg" alt="" /></div>
          <div class="desc">
            The Crux of Bitemporality - Jon Pither
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/SkQLVQb6E8I?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/SkQLVQb6E8I/0.jpg" alt="" />
          </div>
          <div class="desc">
            Distributed Computing in Clojure and Spark - Jonathan Brown
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/dIh4lEnCCkQ?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/dIh4lEnCCkQ/0.jpg" alt="" />
          </div>
          <div class="desc">
            Growing a chatops platform and having fun with Clojure - Trevor Hartman
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/LbS45w_aSCU?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/LbS45w_aSCU/0.jpg" alt="" />
          </div>
          <div class="desc">
            fn and Games with Arcadia - Ramsey Nasser
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/3dJmdT28HTo?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/3dJmdT28HTo/0.jpg" alt="" />
          </div>
          <div class="desc">
            "You may also like" - Leon Talbot
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/u-4FiFpkPlQ?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/u-4FiFpkPlQ/0.jpg" alt="" />
          </div>
          <div class="desc">
            Lessons Learned Creating a Successful Machine Learning Startup with Clojure - Alex Hudek
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/IekPZpfbdaI?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/IekPZpfbdaI/0.jpg" alt="" />
          </div>
          <div class="desc">
            Aviary: Clinical Collaboration Platform - Dmitri Sotnikov & Carmen La
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/l1b7Da2DnPo?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/l1b7Da2DnPo/0.jpg" alt="" />
          </div>
          <div class="desc">
            Building My Own Clojure Tools - Nikita Prokopov (tonsky)
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/8klBWIwYfsY?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/8klBWIwYfsY/0.jpg" alt="" />
          </div>
          <div class="desc">
            cljdoc - Martin Klepsch
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/UFuL-ZDoB2U?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/UFuL-ZDoB2U/0.jpg" alt="" />
          </div>
          <div class="desc">
            Cross Platform DateTime Awesomeness - Henry Widd
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/uTxmI5y47l4?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/uTxmI5y47l4/0.jpg" alt="" />
          </div>
          <div class="desc">
            Crawling Inside the Tauntaun - James Cash
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/dzXZVnfp2TA?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/dzXZVnfp2TA/0.jpg" alt="" />
          </div>
          <div class="desc">
            Data driven scripting with ClojureScript, EDN, and Lumo - Scot Brown
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/tPnCtXrwvIw?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/tPnCtXrwvIw/0.jpg" alt="" />
          </div>
          <div class="desc">
            Expeditious Code via Inference - Mike Fikes
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/ss1v6jHGDfk?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/ss1v6jHGDfk/0.jpg" alt="" />
          </div>
          <div class="desc">
            Resilience by Design - Tiago Luchini
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/iLeaXt9Bi58?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/iLeaXt9Bi58/0.jpg" alt="" />
          </div>
          <div class="desc">
            Software, but not as we know it - Dann Toliver
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/VBIlk3GMmNc?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/VBIlk3GMmNc/0.jpg" alt="" />
          </div>
          <div class="desc">
            Lessons in Building a System that Processes More than 70 Billion Events Daily - Morri Feldman
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/yEAt4Y0VUlg?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/yEAt4Y0VUlg/0.jpg" alt="" />
          </div>
          <div class="desc">
            How is Keechma Different - Tibor Kranjcec
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/Kgw9fblSOx4?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/Kgw9fblSOx4/0.jpg" alt="" />
          </div>
          <div class="desc">
            Residential Programming without Mutable State - Thomas Getgood
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/sT8LIdfH4ak?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/sT8LIdfH4ak/0.jpg" alt="" />
          </div>
          <div class="desc">
            Where to Start? - Simon Belak
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/2mGl66xHIuw?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/2mGl66xHIuw/0.jpg" alt="" />
          </div>
          <div class="desc">
            Improving Yesterday - Eric Fode
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/DL90i6RCwhs?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/DL90i6RCwhs/0.jpg" alt="" />
          </div>
          <div class="desc">
            Raising Services and People with Clojure - Balint Erdos & Katsuyasu Murata
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/vK1DazRK_a0?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/vK1DazRK_a0/0.jpg" alt="" />
          </div>
          <div class="desc">
            Solving Problems the Clojure Way - Rafal Dittwald
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/cSntRGAjPiM?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/cSntRGAjPiM/0.jpg" alt="" />
          </div>
          <div class="desc">
            Reitit, the Ancient Art of Routing - Tommi Reiman
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/4XuwiJnMn0Q?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/4XuwiJnMn0Q/0.jpg" alt="" />
          </div>
          <div class="desc">
            Dealing With Data Panel - Clojure/north 2019
          </div>
        </div>
        <div class="vid-item"
          onClick="document.getElementById('vid_frame').src='https://youtube.com/embed/7HpI7d3-hpo?autoplay=1&rel=0&showinfo=0&autohide=1&list=PL_arKaS8JOXHgSDJXtAVxhtDBJ6WL3uaS'">
          <div class="thumb">
            <img src="https://img.youtube.com/vi/7HpI7d3-hpo/0.jpg" alt="" />
          </div>
          <div class="desc">
            Composing Applications - Rafal Dittwald
          </div>
        </div>
      </div>
    </div>
    <div class="arrows">
      <div class="arrow-left">
        <i class="fa fa-chevron-left fa-lg"></i>
      </div>
      <div class="arrow-right">
        <i class="fa fa-chevron-right fa-lg"></i>
      </div>
    </div>
  </div>
</div>
